:root{
    --pri: #ffffff;
    --sec:  #213448;
    --tri1: #94B4C1;
    --tri2: #EAE0CF;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--pri);
}

.main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--tri1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: var(--sec);
    height: 340px;
    width: 272px;
    border-radius: 10px;
    overflow: hidden;    
    position: relative;
    transition: all ease 0.2s;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    background: linear-gradient(transparent, black);
    height: 20%;
    width: 100%;
    padding: 10px;
    position: absolute;
    transition: all ease 0.3s;
    bottom: -20%;
}

.bottom h2{
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.elem:hover .bottom{
    bottom: 0%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--tri1);
    display: none;
    padding: 20px;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--sec);
    border-radius: 50%;
    border: 3px solid var(--tri2);
    cursor: pointer;
    color: var(--tri2);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 12px;
}

.back:active{
    scale: 0.97;
}