:root{
    --pri: #ffffff;
    --sec:  #213448;
    --tri1: #94B4C1;
    --tri2: #d1b687;
    --red: red;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Fonts/fonnts.com-Aeonik-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--pri);
}

.main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    background-color: var(--tri1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}

.elem{
    background-color: var(--sec);
    height: 340px;
    width: 272px;
    border-radius: 10px;
    overflow: hidden;    
    position: relative;
    transition: all ease 0.2s;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.25);
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    background: linear-gradient(transparent, black);
    height: 20%;
    width: 100%;
    padding: 10px;
    position: absolute;
    transition: all ease 0.3s;
    bottom: -20%;
}

.bottom h2{
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.elem:hover .bottom{
    bottom: 0%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--tri1);
    display: none;
    padding: 20px;
    position: absolute;
}

.back{
    position: absolute;
    right: 3%;
    top: 4%;
    background-color: var(--sec);
    border-radius: 50%;
    border: 3px solid var(--tri2);
    cursor: pointer;
    color: var(--tri2);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 12px;
}

.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 60px;
    font-weight: 700;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--sec);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--sec);
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.todo-container .addTask form input#task-input{
    padding: 15px 25px;
    font-size: 24px;
    width: 100%;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 15px 25px;
    font-size: 24px;
    width: 100%;
    height: 350px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding: 10px 20px;
    font-size: 22px;
    width: 100%;
    background-color: var(--tri2);
    cursor: pointer;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    border: none;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active{
    scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--sec);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 30px;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 16px 40px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.task h5{
    color: var(--sec);
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task h5 span{
    background-color: var(--red);
    font-size: 10px;
    color: var(--pri);   
    padding: 4px 6px;
    border-radius: 11px;
}

.task h5 span.true{
    opacity: 1;
}

.task h5 span.false{
    opacity: 0;
}

.task button{
    padding: 15px 30px;
    color: var(--pri);
    background-color: rgb(20, 135, 20);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.task button:active{
    scale: 0.95;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0;
    margin-bottom: 10px;
    width: 100%;
    gap: 10px;
}
